[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group MedvedevLabGroup
	owner = group user/Dmitry Medvedev (dmitmedv)
	owner = group user/Oksana Kurushina (Oxutta)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group MedvedevLabGroup
	label-Code-Review = -2..+2 group user/Dmitry Medvedev (dmitmedv)
	label-Verified = -1..+1 group MedvedevLabGroup
	label-Verified = -1..+1 group user/Dmitry Medvedev (dmitmedv)
	push = group MedvedevLabGroup
	push = group user/Dmitry Medvedev (dmitmedv)
	push = group user/Oksana Kurushina (Oxutta)
	read = group MedvedevLabGroup
	read = group user/Dmitry Medvedev (dmitmedv)
	read = group user/Oksana Kurushina (Oxutta)
	rebase = group MedvedevLabGroup
	rebase = group user/Dmitry Medvedev (dmitmedv)
	removeReviewer = group MedvedevLabGroup
	removeReviewer = group user/Dmitry Medvedev (dmitmedv)
	submit = group MedvedevLabGroup
	submit = group user/Dmitry Medvedev (dmitmedv)
[access "refs/heads/*"]
	create = group MedvedevLabGroup
	create = group user/Dmitry Medvedev (dmitmedv)
	push = group MedvedevLabGroup
	push = +force group user/Dmitry Medvedev (dmitmedv)
	pushMerge = group MedvedevLabGroup
	pushMerge = group user/Dmitry Medvedev (dmitmedv)
	read = group MedvedevLabGroup
	read = group user/Dmitry Medvedev (dmitmedv)
[access "refs/tags/*"]
	push = group MedvedevLabGroup
	push = group user/Dmitry Medvedev (dmitmedv)
	push = +force group user/Dmitry Medvedev (dmitmedv)
